@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.masonry {
    column-count: 3;
    column-gap: 2rem;
}
@screen lg {
    .masonry {
        column-count: 4;
    }
}
